@import './base.css';
@import 'primeicons/primeicons.css';

@layer components {
  .main-panel {
    @apply m-10 p-10 rounded-3xl;
    min-height: 75vh;
    background-color: rgb(0, 62, 46);
  }

  .main-panel__header i {
    font-size: 2rem;
  }

  .main-panel__header {
    @apply flex items-center gap-6;
  }
}
